@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  width: 100%;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 80px;
  background-color: #000;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header h2 {
  margin: 0;
}

.battleship {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.hit, .miss, .empty {
  border: 1px solid #000;
  float: left;
  width: 35px;
  height: 35px;
}

.hit {
  background: #292929;
}

.miss {
  background: #ccc;
}

.game-row:after {
  display: table;
  clear: both;
  content: "";
}

.hidden {
  display: none;
}

.switch-btn {
  background-color: transparent;
  padding: 10px 30px;
  font-size: 17px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 40px;
}

.switch-btn:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
  outline: none;
}
